
@using Reprocess.Common
@{
    Reprocess.Model.User.UserProfileData sessionLogin = Constants.GetSessionLogin();
    var roles = sessionLogin.RolesString;
    var customerName = sessionLogin.User.FullName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reprocess Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Angular/node_modules/ngx-toastr/toastr.css")
</head>
<body>
    <!--Nav Start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @*<a class="navbar-brand" href="#">TC</a>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    @*<li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "MetricsReprocess")">Metrics Reprocess</a>
                </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Service
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (roles.IndexOf("Metrics") != -1)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "MetricsReprocess")">Metrics Reprocess</a>
                            }
                            @if (roles.IndexOf("DiConnect") != -1)
                            {

                                <a class="dropdown-item" href="@Url.Action("Index", "RoutingReprocess")">Routing Reprocess</a>

                            }
                            @*<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>*@
                        </div>
                        @if (roles.IndexOf("User") != -1)
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "User")">Users</a>
                                @*<a class="dropdown-item" href="@Url.Action("Index", "Role")">Roles</a>*@
                                <a class="dropdown-item" href="@Url.Action("Index", "ErrorCode")">Errors tracking</a>
                            </div>
                        </li>
                    }

                    </ul>
                </div>
                <div id="header-nav-right">
                    <span class="di__origin-insr-md-acc"></span>
                    <div class="user-account-btn dropdown">
                        
                        <a href="#" title="My Account" class="user-profile clearfix hide-899" data-toggle="dropdown"> <span class="di__hello">Welcome</span><span> @customerName</span> <i class="glyph-icon icon-angle-down" style="padding:4px !important;"></i> </a>
                        <div class="dropdown-menu float-left mrg0T">
                            <div class="box-sm">
                                <div class="login-box clearfix">
                                    <div class="user-img">
                                        
                                    </div>
                                    <div class="user-info" id="profileDetail">
                                        
                                    </div>
                                </div>
                                
                                <div class="pad5A button-pane button-pane-alt text-left">
                                    <a href="@Url.Action("LogOut", "Base")" class="btn"> <i class="glyph-icon icon-power-off"></i> Log Out </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
        <!--Nav End-->
        <div class="container body-content">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
